.rhap_main {
  border: none !important; /* حذف حاشیه */
}

.rhap_main-controls-button{
  background-color: white !important; /* رنگ دلخواه برای دکمه پخش */
  color: rgb(108, 97, 255) !important; /* رنگ متن */
}

.rhap_container{
  padding: 0;
  line-height: 0;
}
@media (min-width: 1024px) {
  .lg\:p-10 {
    padding: 0;
  }
}