.Soreh {
    background-image: url(../../../../public/image/sura-name-container-light.svg);
    background-position: center;
    height: 100px;
    background-size: 100% 100%;
    font-weight: bolder;
    text-decoration: none;
    background-repeat: no-repeat;
}

.number_Soreh {
    background-image: url(../../../../public/image/number-header-light.svg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.besm {
    height: 42px;
    background-image: url(../../../../public/image/besm-allah-light.svg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.nameSoreh {
    background-image: url(../../../../public/image/sura-title-light.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.Aya_soreh{
    background-image: url(../../../../public/image/Ayah.svg);
    background-position: center;
    margin-right: 2px;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.rhap_progress-bar-show-download {
    background-color: rgb(255, 255, 255);
  }
  