.image {
    background-image: url(../../../public/image/pattern-light.svg);
    background-position: center top;
}

.Qoran {
    background-image: url(../../../public/image/quran-light.svg);
    background-position: center top;
}

.last_Soreh {
    background-image: url(../../../public/image/go-to-light.svg);
    background-position: center;
    height: 90px;
    background-size: 100% 100%;
    font-weight: bolder;
    text-decoration: none;
    background-repeat: no-repeat;
}
.Soreh{
    background-image: url(../../../public/image/sura-name-container-light.svg);
    background-position: center;
    height: 90px;
    background-size: 100% 100%;
    font-weight: bolder;
    text-decoration: none;
    background-repeat: no-repeat;
}
